* {box-sizing: border-box}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
/* Нижний коллонтитул*/
.footer {
  text-align: center;
  background: #f5f5f0;
  color: MidnightBlue;
 /* Цвет фона */
              padding: 5px; /* Поля вокруг текста */

              clear: left; /* Отменяем действие float */

              position: absolute;
              width: 100%;
              bottom: 0%;
}
.nav{
  padding-left: 400px;
    position: center;
}
.image{
  position: center;
}
.header {
  padding: 10px;
  text-align: center;
  background: #f5f5f0;
  color: DarkBlue;
}
/* Стиль контента */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 200%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  height: 100%;
}
.Z{
  text-align: center;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Фотогаллерея */
        #gall {
           position: relative;
           padding-top: 50%;
           -moz-user-select: none; user-select: none;
         }
         #gall img {
           position: absolute;
           top: 25%;
           left: 12.5%;
           max-width: 24.5%;
           max-height: 49.5%;
           -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
           cursor: zoom-in;
           transition: .2s;
         }
         #gall img:nth-child(4n-2) {left: 37.5%;}
         #gall img:nth-child(4n-1) {left: 62.5%;}
         #gall img:nth-child(4n) {left: 87.5%;}
         #gall img:nth-child(n+5) {top: 75%;}

         #gall img:focus {
           position: absolute;
           top: 50%;
           left: 50%;
           z-index: 1;
           max-width: 100%;
           max-height: 100%;
           outline: none;
           pointer-events: none;
         }
         #gall img:focus ~ div {
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           background: #fff;
           cursor: zoom-out;
         }
/* Выпадающее расписание */
         h2, div, p {
           margin: 0;
           padding: 0;
         }
         .tab {
           width: 100%;
           height: 10%;
           background-image: url(edge.png);
           background-repeat: repeat-x;
           border: 1px solid #f5f5f0;
         }
         .tab:hover {
           background-color: #eee;
           cursor: pointer;
         }
         .tab h2 {
           padding: 10px 20px;
           background-color: #f5f5f0;
         }
         .tab h2:hover {
           padding: 10px 20px;
           background-color: #eee;
         }
         .expanded {
           height: 45%;
           padding-bottom: 2%;
           border-right: 2px dashed #f5f5f0;
           border-left: 2px dashed #f5f5f0;
           border-bottom: 2px dashed #f5f5f0;
         }
         .displayed {
           display: block;
           padding: 20px 10px;
         }
/* Карусель */
         #carousels{
         position: absolute;

         }
         .carousel{
padding-left: 370px;
         position: absolute;
         left: 0;
         top: 0;
         opacity: 0;
         transition: opacity 1s; /* Время появления картинки */
         }
         .demonstration{
         opacity: 1;
         }
